html{
    background-image: url(IMAGES/sky2-01.png);
    background-size: cover
}



a{
    font-family: optima;
    text-decoration:none;
    color: cadetblue;
    text-align: right;
    letter-spacing: 7px;
}



a:hover{
    font-style: italic;
    color: palegreen;
    text-transform: uppercase;
}



nav{
    text-align: right;  
}

header{
    color:white;
    font-family: garamond;
    font-size: 50px;
    background-image: url(IMAGES/aspen-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 500px;
    letter-spacing: 48px;
}



section{
    color:aliceblue;
    width: 525px;
    text-align: right;
}

.section{
    text-align: right;
}



footer{
    background-color: white;
    width: auto;
    height: 3px;
    margin: 30px 0px 15px 0px
}